<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/framework7.material.min.css">
    <link rel="stylesheet" href="css/framework7.material.colors.min.css">
    <link rel="stylesheet" href="css/upscroller.css">
    <link rel="stylesheet" href="css/my-app.css">
    <link rel="stylesheet" href="css/base.css">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <script src="http://app.miwifi.com/js/router_request.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    <script type="text/javascript" src="js/jquery.min.js"></script>


    <title>Shadowsocks</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/mui-switch.css" rel="stylesheet" type="text/css">

</head>

<body>
<div id="router_app" class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <table width="100%">
                    <tr>
                        <td><font colour="#FFFFFF">插件状态</font>&nbsp;
                            <font size="2px" color="#d3d3d3">{{type}}-{{version}}</font></td>
                        <td align="right"><input width="150" v-model="runStatus"
                                                 @click="enableSS(runStatus)"
                                                 class="mui-switch mui-switch-anim" type="checkbox"></td>
                    </tr>
                </table>

            </div>
        </div>

        <a href="javascript:"
           v-show="nowIndex===0&&nodeList.length>0" @click="saveNodeList()"
           class="floating-button color-red"><i
                class="icon">保存</i></a>

        <div class="navbar-fixed pages navbar-through toolbar-through">
            <div class="page-content">

                <ul class="tabs nav nav-tabs" id="myTab">
                    <li v-for="(item,index) in tabsParam"
                        @click="toggleTabs(index)"
                        :class="{active:index==nowIndex}"><a>{{item}}</a></li>
                </ul>

                <div class="tabs tab-content" v-show="nowIndex===0">
                    <div class="tab-pane active">
                        <div class="list-block">
                            工作状态
                            <hr/>
                            <form>
                                <table align="center" style="width: 90%">
                                    <tr style="width: 30%" >
                                        <td class="text_right">shadowsocks-libev：</td>
                                        <td><input v-model="SSversion" type="text" disabled="disabled"
                                                   placeholder="---" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text_right">ss-local：</td>
                                        <td>{{local}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text_right">ss-redir：</td>
                                        <td>{{redir}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text_right">翻墙状态:</td>
                                        <td>
                                            <font v-if="googleStatus =='200'" color="green">正常</font>
                                            <font v-if="googleStatus =='000'" color="red">异常</font>
                                            <font v-if="googleStatus =='999'" color="gray">测试中...</font>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="googleTest()" value="重新测试" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text_right">SS节点：</td>
                                        <td><input v-model="node.name" type="text" disabled="disabled"
                                                   placeholder="node"></td>
                                    </tr>
                                    <tr>
                                        <td class="text_right">DNS状态：</td>
                                        <td><input v-model="dns" disabled="disabled" placeholder="dns"
                                                   type="text"></td>
                                    </tr>
                                    <tr>
                                        <td class="text_right">dns_red_enable：</td>
                                        <td>
                                            <input width="150" v-model="dns_red_enable" @change="dns_red_change()"
                                                   class="mui-switch mui-switch-anim" type="checkbox">
                                        </td>
                                    </tr>


                                </table>
                                <br/>
                                <hr/>

                            </form>
                            <br/>

                            节点列表


                            <div style="width: 100%; overflow: hidden">

                                <ul>
                                    <li class=" item-content list-item " v-for="(node,index) in nodeList "
                                        data-type="0">

                                        <div class="item-inner" @touchstart.capture="touchStart"
                                             @touchend.capture="touchEnd" @click="skip">
                                            <div style="width: 100%;">
                                                <table width="100%">
                                                    <tr>
                                                        <td>名称:</td>
                                                        <td><input v-model="node.name" type="text" placeholder="名称"/>
                                                        </td>
                                                        <td width="30">

                                                            <input v-if="index==nodeIndex && runStatus" type="button"
                                                                   @click="enableSS(false)"
                                                                   value="断开"
                                                                   class="button bg-red button-fill button-fill">
                                                            <input v-else type="button"
                                                                   @click="nodeConnect(index)"
                                                                   value="联接"
                                                                   class="button bg-green button-fill button-fill">
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table>

                                                    <tr>
                                                        <td width="45">地址:</td>
                                                        <td><input v-model="node.server" type="text"
                                                                   placeholder="127.0.0.1">
                                                        </td>
                                                        <td width="45">端口:</td>
                                                        <td width="60"><input v-model="node.server_port" type="number"
                                                                              placeholder="8989"></td>

                                                    </tr>
                                                </table>
                                                <table>
                                                    <tr>
                                                        <td> 密码:</td>

                                                        <td>
                                                            <input v-model="node.password" type="password"
                                                                   placeholder="密码"></td>
                                                    </tr>
                                                </table>
                                                <table>
                                                    <tr>
                                                        <td> 工作模式:</td>

                                                        <td>
                                                            <select v-model="node.mode">
                                                                <option value="gfwlist">gfwlist模式</option>
                                                                <option value="whitelist">大陆白名单模式</option>
                                                                <option value="gamemode">游戏模式</option>
                                                                <option value="wholemode">全局代理模式</option>
                                                                <option value="6">回国模式</option>
                                                            </select></td>
                                                    </tr>
                                                </table>

                                                <table>
                                                    <tr>
                                                        <td> 加密方式:</td>

                                                        <td>
                                                            <select v-model="node.method">

                                                                <option value="table">table</option>
                                                                <option value="rc4">rc4</option>
                                                                <option value="rc4-md5">rc4-md5</option>
                                                                <option value="aes-128-cfb">aes-128-cfb</option>
                                                                <option value="aes-192-cfb">aes-192-cfb</option>
                                                                <option value="aes-256-cfb">aes-256-cfb</option>
                                                                <option value="aes-128-ctr">aes-128-ctr</option>
                                                                <option value="aes-192-ctr">aes-192-ctr</option>
                                                                <option value="aes-256-ctr">aes-256-ctr</option>
                                                                <option value="bf-cfb">bf-cfb</option>
                                                                <option value="camellia-128-cfb">camellia-128-cfb
                                                                </option>
                                                                <option value="camellia-192-cfb">camellia-192-cfb
                                                                </option>
                                                                <option value="camellia-256-cfb">camellia-256-cfb
                                                                </option>
                                                                <option value="cast5-cfb">cast5-cfb</option>
                                                                <option value="des-cfb">des-cfb</option>
                                                                <option value="idea-cfb">idea-cfb</option>
                                                                <option value="rc2-cfb">rc2-cfb</option>
                                                                <option value="seed-cfb">seed-cfb</option>
                                                                <option value="salsa20">salsa20</option>
                                                                <option value="chacha20">chacha20</option>
                                                                <option value="chacha20-ietf">chacha20-ietf</option>

                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <table>
                                                    <tr>
                                                        <td> 本地代理端口:</td>

                                                        <td>
                                                            <input width="150" disabled="disabled"
                                                                   v-model="node.local_port"
                                                                   type="text" placeholder="1080">
                                                        </td>
                                                    </tr>
                                                </table>

                                                <table>
                                                    <tr>
                                                        <td> 混淆 (obfs):</td>

                                                        <td>
                                                            <input width="150" v-model="node.use_encryption"
                                                                   class="mui-switch mui-switch-anim" type="checkbox">
                                                        </td>
                                                    </tr>
                                                </table>


                                            </div>
                                        </div>

                                        <div class="swipeout-actions-right" @click="deleteItem(index)"
                                             :data-index="index">
                                            <a class="swipeout-delete">删除</a></div>
                                    </li>
                                </ul>

                            </div>

                            <div @click="addItem()" style="margin-top: 10px" class="button button-fill"
                                 style="width: 100%;"><font size="150">+</font>
                            </div>
                            <hr/>


                        </div>
                    </div>
                </div>
                <div class="tabs tab-content" v-show="nowIndex===1">

                    <div class="tab-pane active">
                        <div class="list-block">

                            <br/>
                            局域网控制

                            <div style="width: 100%; overflow: hidden">

                                <ul>
                                    <li class=" item-content list-item " v-for="(item,index) in lanList "
                                        data-type="0">

                                        <div class="item-inner" @touchstart.capture="touchStart"
                                             @touchend.capture="touchEnd" @click="skip">
                                            <div style="width: 100%;">

                                                <table width="100%">

                                                    <tr>
                                                        <th><select v-model="item.type">
                                                            <option value="0">请选择</option>
                                                            <option value="1">主机名:</option>
                                                            <option value="2">IP:</option>
                                                            <option value="3">MAC:</option>
                                                        </select></th>
                                                        <td><input type="text" v-model="item.value"></td>
                                                        <td class="text_right"><input width="150" v-model="item.use_ss"
                                                                                      class="mui-switch mui-switch-anim"
                                                                                      type="checkbox">
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>

                                        <div class="swipeout-actions-right" @click="deleteLanItem(index)"
                                             :data-index="index">
                                            <a class="swipeout-delete">删除</a></div>
                                    </li>
                                </ul>

                            </div>

                            <div @click="addLanItem()" style="margin-top: 10px" class="button button-fill"
                                 style="width: 100%;"><font size="150">+</font>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div class="tabs tab-content" v-show="nowIndex===2">
                    <div class="help">

                        名称：{{name}} 版本：<font color="green">{{type}}</font>-{{version}}
                        <hr/>

                        <!--<input type="button" onclick="pluginEnable()" value="enable"/>-->
                        <!--<input type="button" onclick="pluginDisable()" value="disable"/>-->
                        <!--<input type="button" onclick="getPluginStatus()" value="status"/>-->
                        <!--<input type="button" onclick="runCommand('pidof frpc')" value="runCommand"/>-->
                        <input type="button" onclick="googleTest()" value="googleTest"/>
                        <p>Shadowsocks
                            是一种基于Socks5代理方式的加密传输协议，也可以指实现这个协议的各种开发包。目前包使用Python、C、C++、C#、Go语言等编程语言开发，大部分主要实现（iOS平台的除外）采用Apache许可证、GPL、MIT许可证等多种自由软件许可协议开放源代码。Shadowsocks分为服务器端和客户端，在使用之前，需要先将服务器端部署到服务器上面，然后通过客户端连接并创建本地代理。</p>
                        <p>*基本配置和自定义配置是分离的，相互不会影响</p>
                        <font color="red">*点击保存，会保存当前页面配置</font>
                        <p>*保存配置后请重启进程以便配置生效</p>
                        <p>*列表左滑可以删除</p>
                        <p>

                            <br/>
                            如果发现接口报错可以尝试通过<input type="button" onclick="restartService()" value="重启服务进程"/>解决

                        <hr/>
                        捐助作者：
                        <form name="atool_alipay_img_form" style="padding-bottom: 0;border:none;" method="post"
                              action="https://shenghuo.alipay.com/send/payment/fill.htm" target="_blank"
                              accept-charset="GBK" onsubmit="document.charset='gbk';"><input type="hidden"
                                                                                             value="mtjo_00@163.com"
                                                                                             name="optEmail"><input
                                type="hidden" value="1" name="payAmount"><input type="hidden" name="title"
                                                                                placeholder="付款说明" value=""><input
                                type="image" value="支付宝收款" src="http://www.atool.org/res/alipay_1.png" name="pay">
                        </form>
                        </p>
                        <br/>
                        支付宝打赏：
                        <center><img width="100%" src="alipay.JPG"></center>

                        <br/>
                        微信打赏：
                        <center><img width="100%" src="wechar.JPG"></center>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<div class="toast-wrap">
    <span class="toast-msg"></span>
</div>

<script>
    var appId = "2882303761517844579";
    var nodeList = [];
    var router_app = new Vue({
        el: '#router_app',
        data: {
            tabsParam: ['基本配置', '局域网控制', "?"],//（这个也可以用对象key，value来实现）
            nowIndex: 0,//默认激活状态
            user_config: "",
            node: {},
            dns: false,
            nodeList: [],
            lanList: [],
            name: "----",
            type: "----",
            version: "----",
            SSversion: "----",
            redir: "----",
            local: "----",
            googleStatus: "999",
            nodeIndex: 0,
            dns_red_enable: false,
            runStatus: false,
            startX: 0,
            endX: 0,
            shellLog: '',
            shell: '',
            dns_red_ip: "lanip"
        },
        methods: {

            dns_red_change: function () {
                routerRequest.request({
                    path: "/api-third-party/service/datacenter/set_config",
                    type: "GET",
                    data: {
                        appId: appId,
                        key: "dns_red_enable",
                        value: router_app.$data.dns_red_enable
                    },
                    success: function (data) {
                        //toast(data);
                        var response = jQuery.parseJSON(data);
                        if (response.code != 0) {
                            console.log(data);
                            toast("保存dns_red_enable错误：" + response.msg);
                            return;
                        }

                        //alert("保存配置成功！");
                        toast("保存成功,要使配置生效请重新连节点！");

                    },
                    error: function (data) {
                        console.log("set_config:", data);
                        alert("网络失败");
                    }
                });

            },
            toggleTabs: function (index) {
                this.nowIndex = index;
            },
            addItem: function () {
                router_app.$data.nodeList.push({
                    "server": "",
                    "server_port": '',
                    "local_port": '1081',
                    "local_address": "127.0.0.1",
                    "password": "",
                    "mode": "gfwlist",
                    "timeout": 600,
                    "method": "aes-256-cfb"
                })
            },
            addLanItem: function () {
                router_app.$data.lanList.push({

                    "type": 0,
                    "value": "",
                    "use_ss": true
                })
            },
            saveNodeList: function () {

                configData = encodeURIComponent(JSON.stringify(router_app.$data.nodeList));
                //alert(configData);
                //详细列表设置
                routerRequest.request({
                    path: "/api-third-party/service/datacenter/set_config",
                    type: "GET",
                    data: {
                        appId: appId,
                        key: "nodeList",
                        value: configData
                    },
                    success: function (data) {
                        //toast(data);
                        var response = jQuery.parseJSON(data);
                        if (response.code != 0) {
                            console.log(data);
                            toast("保存配置错误：" + response.msg);
                            return;
                        }

                        //alert("保存配置成功！");
                        toast("保存配置成功！");

                    },
                    error: function (data) {
                        console.log("set_config:", data);
                        alert("网络失败");
                    }
                });
            },
            nodeConnect: function (index) {
                router_app.$data.nodeIndex=index;
                _node = router_app.$data.nodeList[index];
                router_app.$data.node=_node;
                _node = JSON.parse(JSON.stringify(_node));
                _mode = _node.mode;

                delete _node.name;
                delete _node.mode;

                SSConfig = JSON.parse(JSON.stringify(_node));
                DnsConfig = JSON.parse(JSON.stringify(_node));
                DnsConfig.local_port = 1082;
                // alert(JSON.stringify(SSConfig));
                // alert(JSON.stringify(DnsConfig));
                routerRequest.request({
                    path: "/api-third-party/service/datacenter/plugin_control",
                    type: "GET",
                    data: {
                        appId: appId,
                        info: JSON.stringify({
                            method: "nodeConnect",
                            SSConfig: SSConfig,
                            DnsConfig: DnsConfig,
                            ss_mode: _mode,
                            nodeIndex: index
                        })
                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        if (response.code != 0) {
                            console.log(data);
                            alert("节点链接错误：" + response.msg);
                            return;
                        }
                        getSSStatusTimeOut();
                        toast('节点链接成功!')



                    }
                });


            },

            enableSS: function (item) {
                if (item) {
                    method = "enableSS";
                    router_app.$data.local = "启动中...";
                    router_app.$data.redir = "启动中...";
                } else {
                    method = "disableSS";
                    router_app.$data.local = "关闭中...";
                    router_app.$data.redir = "关闭中...";
                }
                router_app.$data.status = "执行中...";
                //alert(method);
                routerRequest.request({
                    path: "/api-third-party/service/datacenter/plugin_control",
                    type: "GET",
                    data: {
                        appId: appId,
                        info: JSON.stringify({method: method})
                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        if (response.code != 0) {
                            console.log(data);
                            toast(method + "错误：" + response.msg);
                            return;
                        }
                        getSSStatusTimeOut();

                    },
                    error: function (data) {
                        alert(method+":" + data);
                    }
                });
            },//跳转
            skip() {
                if (this.checkSlide()) {
                    this.restSlide();
                } else {
                    //alert('You click the slide!')
                }
            },
            //滑动开始
            touchStart(e) {
                // 记录初始位置
                this.startX = e.touches[0].clientX;
            },
            //滑动结束
            touchEnd(e) {
                // 当前滑动的父级元素
                let parentElement = e.currentTarget.parentElement;
                // 记录结束位置
                this.endX = e.changedTouches[0].clientX;
                // 左滑
                if (parentElement.dataset.type == 0 && this.startX - this.endX > 30) {
                    this.restSlide();
                    parentElement.dataset.type = 1;
                }
                // 右滑
                if (parentElement.dataset.type == 1 && this.startX - this.endX < -30) {
                    this.restSlide();
                    parentElement.dataset.type = 0;
                }
                this.startX = 0;
                this.endX = 0;
            },
            //判断当前是否有滑块处于滑动状态
            checkSlide() {
                let listItems = document.querySelectorAll('.list-item');
                for (let i = 0; i < listItems.length; i++) {
                    if (listItems[i].dataset.type == 1) {
                        return true;
                    }
                }
                return false;
            },
            //复位滑动状态
            restSlide() {
                let listItems = document.querySelectorAll('.list-item');
                // 复位
                for (let i = 0; i < listItems.length; i++) {
                    listItems[i].dataset.type = 0;
                }
            },
            //删除
            deleteItem(index) {
                // 复位
                this.restSlide();
                // 删除
                router_app.$data.nodeList.splice(index, 1);
            },
            //删除lan
            deleteLanItem(index) {
                // 复位
                this.restSlide();
                // 删除
                router_app.$data.lanList.splice(index, 1);
            }

        }
    });


    $(document).ready(function () {
        $("#authorizeButton").click(function () {
            if (!routerRequest.hasAccessToken()) {
                routerRequest.authorize(window.location.href, appId);
            }
        });
        pluginEnable();
        loadConfig();
        getRouterInfo();
        getSSStatus();
        setTimeout(function () {
            googleTest();
        }, 500);

    });

    function loadConfig() {
        routerRequest.request({
            path: "/api-third-party/service/datacenter/config_info",
            type: "GET",
            data: {
                appId: appId,
                key: "dns_red_enable",
            },
            success: function (data) {
                //toast(data);
                var response = jQuery.parseJSON(data);
                router_app.$data.dns_red_enable = response.value
                //alert(data);

            },
            error: function (data) {
                console.log("set_config:", data);
                alert("网络失败");
            }
        });

        routerRequest.request({
            path: "/api-third-party/service/datacenter/config_info",
            type: "GET",
            data: {
                appId: appId,
                key: "nodeIndex",
            },
            success: function (data) {
                //toast(data);
                var response = jQuery.parseJSON(data);
                router_app.$data.nodeIndex = response.value > 0 ? response.value : 0
                //alert(data);

            },
            error: function (data) {
                console.log("set_config:", data);
                alert("网络失败");
            }
        });
        routerRequest.request({
            path: "/api-third-party/service/datacenter/config_info",
            type: "GET",
            data: {
                appId: appId,
                key: "SSversion",
            },
            success: function (data) {
                //toast(data);
                var response = jQuery.parseJSON(data);
                router_app.$data.SSversion = response.value;
                //alert(data);

            },
            error: function (data) {
                console.log("set_config:", data);
                alert("网络失败");
            }
        });


        //设置
        routerRequest.request({
            path: "/api-third-party/service/datacenter/config_info",
            type: "GET",
            data: {
                appId: appId,
                key: "nodeList"
            },
            success: function (data) {
                //alert(data)
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("节点列表错误：" + response.msg);
                    return;
                }
                //alert(data);

                nodeListStr = decodeURIComponent(response.value);
                //alert(nodeListStr);
                if (nodeListStr != "") {
                    nodeList = jQuery.parseJSON(nodeListStr);
                    router_app.$data.nodeList = nodeList;
                    nodeIndex = router_app.$data.nodeIndex;
                    router_app.$data.node = nodeList[nodeIndex];
                }
            },
            error: function (data) {
                console.log("error:", data);
                alert("网络失败");
            }
        });


    }


    //ss 状态
    function getSSStatus() {
        //插件状态
        routerRequest.request({
            path: "/api-third-party/service/datacenter/plugin_control",
            type: "GET",
            data: {
                appId: appId,
                info: JSON.stringify({method: "getSSStatus"})
            },
            success: function (data) {

                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("错误：" + response.msg);
                    return;
                }
                //alert(data);

                if (response.data.redir > 0 && response.data.local > 0) {
                    router_app.$data.runStatus = true;
                    router_app.$data.redir = response.data.redir;
                    router_app.$data.local = response.data.local;
                } else {
                    router_app.$data.runStatus = false;
                    router_app.$data.redir = "未运行";
                    router_app.$data.local = "未运行";
                }

            },
            error: function (data) {
                alert(method + ":" + data);
            }
        });
    }

    function getSSStatusTimeOut(){

        setTimeout(function () {
            getSSStatus();
        }, 1000);
        setTimeout(function () {
            getSSStatus();
        }, 2000);
        setTimeout(function () {
            getSSStatus();
        }, 5000);

    }


    //开启插件
    function pluginEnable() {
        routerRequest.request({
            path: "/api-third-party/service/datacenter/plugin_enable",
            type: "GET",
            data: {
                appId: appId
            },
            success: function (data) {
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("启动插件错误：" + response.msg);
                    return;
                }
                //toast(data)
            },
            error: function (data) {
                alert("plugin_enable:" + data);
            }
        });
    }

    //关闭插件
    function pluginDisable() {
        routerRequest.request({
            path: "/api-third-party/service/datacenter/plugin_disable",
            type: "GET",
            data: {
                appId: appId
            },
            success: function (data) {
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("关闭插件错误：" + response.msg);
                    return;
                }
                //toast(data)
            },
            error: function (data) {
                alert("plugin_disable:" + data);
            }
        });
    }

    //获取插件开启关闭状态
    function getPluginStatus() {
        routerRequest.request({
            path: "/api-third-party/service/datacenter/get_plugin_status",
            type: "GET",
            data: {
                appId: appId
            },
            success: function (data) {
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("获取插件开启关闭状态错误：" + response.msg);
                    return;
                }
                //toast(data)
                return response.isEnable;
            },
            error: function (data) {
                alert("plugin_control:" + data);
            }
        });
    }


    function runCommand(command) {
        //插件状态
        routerRequest.request({
            path: "/api-third-party/service/datacenter/plugin_control",
            type: "GET",
            data: {
                appId: appId,
                info: JSON.stringify({method: "runCommand", command: command})
            },
            success: function (data) {

                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("runCommand错误：" + response.msg);
                    return;
                }
                alert(response.data)


            },
            error: function (data) {
                alert("plugin_control:" + data);
            }
        });

    }


    //获取路由器信息
    function getRouterInfo() {
        routerRequest.request({
            path: "/api-third-party/service/datacenter/get_router_info",
            type: "GET",
            data: {
                appId: appId
            },
            success: function (data) {
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("获取路由器信息错误：" + response.msg);
                    return;
                }
                //alert(data)
                router_app.version = response.version;
                router_app.type = response.type;
                router_app.name = response.name;
            },
            error: function (data) {
                alert("plugin_control:" + data);
            }
        });
    }

    function restartService() {
        pluginDisable();
        pluginEnable();
        toast("重启成功，请重新打开插件！");
        getSSStatus();
        setTimeout(function () {
            getSSStatus();
        }, 10000);
    }
    function googleTest() {
        router_app.$data.googleStatus = '999';

        //插件状态
        routerRequest.request({
            path: "/api-third-party/service/datacenter/plugin_control",
            type: "GET",
            data: {
                appId: appId,
                info: JSON.stringify({method: "googleTest"})
            },
            success: function (data) {
                //alert(data)
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("错误：" + response.msg);
                    return;
                }
                //alert(data)
                router_app.$data.googleStatus = response.data;
            },
            error: function (data) {
                alert("plugin_control:" + data);
            }
        });
    }

    function toast(msg) {
        //setTimeout(function () {
        document.getElementsByClassName('toast-wrap')[0].getElementsByClassName('toast-msg')[0].innerHTML = msg;
        var toastTag = document.getElementsByClassName('toast-wrap')[0];
        toastTag.className = toastTag.className.replace('toastAnimate', '');
        setTimeout(function () {
            toastTag.className = toastTag.className + ' toastAnimate';
        }, 100);
        //}, 1000);
    }
</script>

</body>
</html>

